node_modules/
scripts/
testAssets/

# macOS
.DS_Store

# IntelliJ
out/
.idea/
*.iml

# Gradle
.gradle/
build/
classes/

./club_members/

#gradle.properties
*.icls
src/test/resources/

*.pyc
.ipynb_checkpoints/
icons/generated/
icons/staging/

# Doki dependencies
doki-build-source/

## Build Source folder
buildSrc/src/*.js

# Yarn
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions